@import "tailwindcss";

/* Paleta oficial de la app */
:root {
  --bg-primary: #000011;
  --bg-secondary: #191970;
  --accent-violet: #8A2BE2;
  --accent-blue: #00BFFF;
  --accent-rose: #F8BBD9;
  --accent-red: #ef4444;
  --text-primary: #C0C0C0;
  --text-gray: #9ca3af;
  --font-family: 'Space Grotesk', sans-serif;
}


body {
  font-family: var(--font-family);
  background-color: var(--bg-primary);
  color: var(--text-primary);
  color: white; 
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  overflow-x: hidden; 
}
